*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.register-body{
    width: 100%;
}

#login-div-css {
    position: fixed;
    top: 0;
    z-index: 3;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 100%;
}

.form-select-css{
    width: 100%;
    /* border: none; */
    font-size: 18px;
    outline: none;
    margin-bottom: 3%;
    padding: 2%;

}