* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#login-div-css {
    position: fixed;
    top: 0;
    z-index: 3;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 100%;
}

.inner-login-div-css{
position: relative;
top: 2%;
left: 35%;
width: 33%;
border-radius: 25px;
background-color: #FFF;
}

.inner-login-heading-div-css{
    width: 100%;
    padding-top: 6%;
    padding-right: 6%;
    padding-bottom: 6%;

}

.inner-login-button-div-css{
    width: 100%;
    display: flex;
    justify-content: end;
}

.inner-login-button-css{
    border: none;
    border-bottom: 1px solid white;
    /* color: white; */
    /* font-size: 18px; */
    cursor: pointer;
}

.login-form-div-css{
    width: 100%;
    padding: 12% 15%;
}

.login-form-input-css{
    text-decoration: none;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    width: 100%;
    font-size: 18px;
    margin-bottom: 5%;
    padding-bottom: 1%;
}

.login-form-submit-button-css{
    width: 100%;
    text-align: center;
    padding: 4%;
    background-image: linear-gradient(to bottom right, #89216b, #da4453);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 19px;
    cursor: pointer;
    margin-bottom: 3%;
}

.login-form-signup-button-css{
    border: none;
    background-color: white;
    border-bottom: 1px solid black;
    color: rgb(68, 0, 255);
}

.welcome-login-heading-css{
    padding-left: 15%;
    padding-top: 5%;
    padding-right: 15%;
    text-align: center;
}